# Primeros pasos, cargar, limpiar y explorar datos

In [17]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Carga de datos
Es habitual que los datos vengan en un archivo con format csv. Pueden ser otros, pero ese es el más común.
La forma mas facl de cargar datos los datos es dejar el archivo disponible en una url pública. Es común usar una dirección en GitHub.
En el curso, los archivos con datos van a quedar en https://dmontero.org/mineria/datasets

In [18]:
url = "http://dmontero.org/mineria/datasets/2.2.4%20Food_Preference.csv"

## Cargar datos
data_frame = pd.read_csv(url)
data_frame.head()

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe

### Stats

In [20]:
data_frame.shape

(288, 8)

In [21]:
data_frame.isnull().sum()

Timestamp         0
Participant_ID    0
Gender            4
Nationality       0
Age               0
Food              0
Juice             0
Dessert           0
dtype: int64

# Tratamiento de nulos

In [22]:
# La columna genero al tener valor nulo, el tratamiento de nulos sera eliminar la fila
data_frame = data_frame.dropna()

In [23]:
data_frame.isnull().sum()

Timestamp         0
Participant_ID    0
Gender            0
Nationality       0
Age               0
Food              0
Juice             0
Dessert           0
dtype: int64

# Gráficos

In [26]:
# Tipos de comida
tiposdecomida = data_frame['Food'].unique()
tiposdecomidadata = data_frame['Food'].value_counts().to_list()
plt.pie(tiposdecomidadata,labels = tiposdecomida, autopct = "%1.1f%%")

AttributeError: module 'matplotlib' has no attribute 'pie'