# Clase 19 de marzo: Limpieza
En la clase de hoy amos a tratar el tema de la limpieza de los datos, base al mismo conjunto de datos de la sesi√≥n anterior

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
url = "http://dmontero.org/mineria/datasets/2.2.4%20Food_Preference.csv"

## Cargar datos
data_frame = pd.read_csv(url)
data_frame.head()

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe

In [3]:
data_frame.shape

(288, 8)

Filtramos por nacionalidad

In [4]:
nacionalidades = data_frame['Nationality'].unique()
print(nacionalidades.shape)
print(nacionalidades)

(27,)
['Indian' 'Pakistani ' 'Tanzanian' 'Indonesia' 'Muslim' 'Pakistan'
 'Maldivian ' 'MY' 'Malaysian' 'Malaysian ' 'Indonesian ' 'Maldivian'
 'MALAYSIAN' 'Malaysia ' 'Pakistani' 'Canadian' 'Nigerian ' 'Algerian '
 'Korean ' 'Seychellois' 'Indonesain' 'Indonesian' 'Malaysia' 'Japan'
 'China' 'Mauritian' 'Yemen']

In [5]:
df_copia = data_frame.copy()

# Pakistan
df_copia['Nationality'] = df_copia['Nationality'].replace('Pakistani ', 'Pakistani')
df_copia['Nationality'] = df_copia['Nationality'].replace('Pakistan', 'Pakistani')

# Indonesia
df_copia['Nationality'] = df_copia['Nationality'].replace('Indonesain', 'Indonesian')
df_copia['Nationality'] = df_copia['Nationality'].replace('Indonesian ', 'Indonesian')
df_copia['Nationality'] = df_copia['Nationality'].replace('Indonesia', 'Indonesian')

# Maldivia
df_copia['Nationality'] = df_copia['Nationality'].replace('Maldivian ', 'Maldivian')

# Malasia
df_copia['Nationality'] = df_copia['Nationality'].replace('Malaysian ', 'Malaysian')
df_copia['Nationality'] = df_copia['Nationality'].replace('MALAYSIAN', 'Malaysian')
df_copia['Nationality'] = df_copia['Nationality'].replace('Malaysia ', 'Malaysian')
df_copia['Nationality'] = df_copia['Nationality'].replace('Malaysia', 'Malaysian')
df_copia['Nationality'] = df_copia['Nationality'].replace('MY', 'Malaysian')


nacionalidades_limpias = df_copia['Nationality'].unique()
print(nacionalidades_limpias.shape)
print(nacionalidades)

(16,)
['Indian' 'Pakistani ' 'Tanzanian' 'Indonesia' 'Muslim' 'Pakistan'
 'Maldivian ' 'MY' 'Malaysian' 'Malaysian ' 'Indonesian ' 'Maldivian'
 'MALAYSIAN' 'Malaysia ' 'Pakistani' 'Canadian' 'Nigerian ' 'Algerian '
 'Korean ' 'Seychellois' 'Indonesain' 'Indonesian' 'Malaysia' 'Japan'
 'China' 'Mauritian' 'Yemen']

In [6]:
df_copia['Nationality'].value_counts()

Nationality
Indian         241
Malaysian       16
Indonesian      10
Pakistani        6
Maldivian        3
Japan            2
Tanzanian        1
Muslim           1
Canadian         1
Nigerian         1
Algerian         1
Korean           1
Seychellois      1
China            1
Mauritian        1
Yemen            1
Name: count, dtype: int64